.map {
  height: 25rem;
  width: 29rem;
  padding: 1rem;
}

.marker {
  width: 20px;
  height: 20px;
  border: 1px solid #088;
  border-radius: 10px;
  background-color: #0FF;
  opacity: 0.5;
}

.locationName {
  text-decoration: none;
  color: white;
  font-size: 11pt;
  font-weight: bold;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.posts {
  padding: 1rem;
}

.inline {
  display: inline;
  width: 1rem;
}

#post-create-error {
  display: none;
}